<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <TM_EasyCatalogImg>
            <version>2.3.4.1</version>
        </TM_EasyCatalogImg>
    </modules>

    <global>
        <blocks>
            <easycatalogimg>
                <class>TM_EasyCatalogImg_Block</class>
            </easycatalogimg>
        </blocks>
        <helpers>
            <easycatalogimg>
                <class>TM_EasyCatalogImg_Helper</class>
            </easycatalogimg>
        </helpers>
        <models>
            <easycatalogimg>
                <class>TM_EasyCatalogImg_Model</class>
            </easycatalogimg>
        </models>
        <resources>
            <tm_easycatalogimg_setup>
                <setup>
                    <module>TM_EasyCatalogImg</module>
                    <class>TM_EasyCatalogImg_Model_Resource_Setup</class>
                </setup>
            </tm_easycatalogimg_setup>
        </resources>
    </global>

    <frontend>
        <layout>
            <updates>
                <easycatalogimg>
                    <file>tm/easycatalogimg.xml</file>
                </easycatalogimg>
            </updates>
        </layout>
        <translate>
            <modules>
                <TM_EasyCatalogImg>
                    <files>
                        <default>TM_EasyCatalogImg.csv</default>
                    </files>
                </TM_EasyCatalogImg>
            </modules>
        </translate>
   </frontend>

   <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <easycatalogimg before="Mage_Adminhtml">TM_EasyCatalogImg_Adminhtml</easycatalogimg>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

   <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <easycatalogimg translate="title" module="easycatalogimg">
                                            <title>Easy Catalog Images</title>
                                        </easycatalogimg>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <TM_EasyCatalogImg>
                    <files>
                        <default>TM_EasyCatalogImg.csv</default>
                    </files>
                </TM_EasyCatalogImg>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <subscriptionchecker>
            <ignored_sections>
                <easycatalogimg/>
            </ignored_sections>
        </subscriptionchecker>
        <easycatalogimg>
            <general>
                <enabled>0</enabled>
                <use_image_attribute>1</use_image_attribute>
                <resize_image>1</resize_image>
                <background>255,255,255</background>
                <placeholder>tm/easycatalogimg/no_image.gif</placeholder>
            </general>
            <category>
                <enabled_for_default>1</enabled_for_default>
                <enabled_for_anchor>1</enabled_for_anchor>
                <hide_when_filter_is_used>1</hide_when_filter_is_used>
                <category_count>100</category_count>
                <column_count>3</column_count>
                <show_image>1</show_image>
                <image_width>200</image_width>
                <image_height>200</image_height>
                <subcategory_count>5</subcategory_count>
            </category>
        </easycatalogimg>
    </default>
</config>